data/datasets/
data/results/pets/pets_custom_model_2022_1025_1233/best_model/best_model.h5
data/results/
santiago/model/__pycache__/
santiago/data_manipulation/__pycache__/
santiago/utils/__pycache__/
__pycache__/
.tmp.driveupload/
